@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

#start {
    font-family: Arial;
    text-align: center;
    font-size: 30px;
}

#start\:text {
    margin-top: 35vh;
}

#game {
    font-family: Arial;
    text-align: center;
    font-size: 30px;
}

#game\:frage {
    margin-top: 35vh;
}

#end {
    font-family: Arial;
    text-align: center;
    font-size: 30px;
}

#end\:text {
    margin-top: 35vh;
}

#end\:result\:right {
    color: green;
}

#end\:result\:wrong {
    color: red;
}
